.main {
    display: grid;
    width: 90%;
    gap: 15px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 32% 66%;
}

@media screen and (max-width: 750px) {
    .main {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);  
    }
}