.header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
    height: 30px;
    width: 90%;
    position: relative;
}
    
    @media screen and (max-width: 700px) {
        .header {
            justify-content: end;
            width: 100%;
            margin: 0;
        }
    }
