@media screen and (max-width: 700px) {
    .nav-menu_hidden {
        /*display: none;*/
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
}