@import url(./__field/general__field.css);
@import url(./__subtitle/general__subtitle.css);
@import url(./__text/_code/general__text_code.css);
@import url(./__text/general__text.css);
@import url(./__link/general__link.css);
@import url(./__code/general__code.css);

.general {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}