/*@import url(./__field/general__field.css);
@import url(./__subtitle/general__subtitle.css);
@import url(./__text/general__text.css);
@import url(./__link/general__link.css);
@import url(./__code/general__code.css);*/

.general {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.general__text {
    font-size: 15px;
    width: 100%;
}

.general__subtitle {
    font-size: 17px;
    color: rgb(113, 178, 238)
}

.general__link {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(248, 203, 3, 0.774);
}

.general-link:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}

.general__field {
    width: 100%;
}

.general__code{
    width: 100%;
    align-self: center;
}