.info-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

@media screen and (max-width: 750px) {
    .info-container {
        justify-self: center;
        text-align: center;
        align-items: center;
    }
}